<mat-icon *ngIf="isFolder">folders</mat-icon>
<mat-icon *ngIf="isImage()">image</mat-icon>
<mat-icon *ngIf="isDoc()">description</mat-icon>
<mat-icon *ngIf="isCss()">css</mat-icon>
<mat-icon *ngIf="isJs()">javascript</mat-icon>
<mat-icon *ngIf="isHtml()">html</mat-icon>
<mat-icon *ngIf="isPdf()">picture_as_pdf</mat-icon>
<mat-icon *ngIf="isFont()">text_fields</mat-icon>
<mat-icon *ngIf="isGif()">gif</mat-icon>
<mat-icon *ngIf="!isFolder && !isImage() && !isDoc()&& !isCss()&& !isJs()&& !isHtml()&& !isPdf()&& !isFont()&& !isGif()">attach_file</mat-icon>
